html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 935px;
    border: solid orange 3px;
    padding: 1px;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
.button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: auto;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(90, 88, 88, 0.222);
    min-width: 30px;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    width: auto;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-size: 30px;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
    border: solid red 3px;
}

.center {
    text-align: center;
}
.headerbuttons {
    text-align: right;
    box-sizing: border-box;
    width: 100%;
    border: solid #5b6dcd 3px;
    padding: 1px;
}
#header_box {
    height: 10px;
    display: block;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    border: solid #5b6dcd 3px;
    padding: 1px;
    justify-content: space-around;
    align-items: flex-start;
}
#game_area {
    display: block;
    height: 380px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;

    border: solid #f1f1f17e 3px;
    padding: 1px;
}
#choics_aria {
    height: 75px;
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;

    border: solid #030099 3px;
    padding: 1px;
}
#stats {
    display: flex;
    font-size: 20px;
    height: 350px;
    width: 100%;
}
#more_info {
    box-sizing: border-box;
    width: 30%;
    border: solid whitesmoke 3px;
    padding: 1px;
}
#enemy_stats {
    box-sizing: border-box;
    width: 60%;
    border: solid red 3px;
    padding: 1px;
}
#player_stats {
    box-sizing: border-box;
    width: 30%;
    border: solid green 3px;
    padding: 1px;
}
