.button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  padding: 10px;
  width: 97px;
  text-align: center;
  transition-duration: 0.1s;
  text-decoration: none;
  overflow:hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.dropdown {
position: relative;
display: inline-block;

}

.dropdown-content {
display: none;
position: absolute;
background-color: black;
min-width: 30px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 0px 0px;
z-index: 1;

}

.dropdown:hover .dropdown-content {
display: block;
}
body{
background-color: black; 
font-size: 20px;
color: white;           
}
h1{
  text-align: center;
}
.center{
  text-align: center;
}
