.button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: auto;
}

.button:hover {
    background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(90, 88, 88, 0.222);
    min-width: 30px;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    width: auto;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-color: black;
    font-size: 20px;
    color: white;
}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}
.headerbuttons {
    text-align: right;
}
